@page "/loi/400"

<title>Lỗi 400</title>
<div class="dv xoa-div" style="display: block; text-align: center;">
    <div style ="font-size:24px;">Lỗi 400</div>
    <div>Truy vấn không hợp lệ do ngoài phạm vi dữ liệu.</div>
    <div>Vui lòng không tự ý thay đổi đường dẫn nếu không biết điểm đến.</div>
    <br>
    <a asp-page="/TrangChu">Trở về trang chủ</a>
</div>