@page "/tai-khoan/dang-xuat"
@model HDT_22810201.Pages.DangXuatModel

@if (string.IsNullOrEmpty(HttpContext.Session.GetString("username"))) Response.Redirect("/tai-khoan/dang-nhap");
else
{
	<title>Cửa hàng M: Đăng xuất</title>
	<div class="dv dangxuat-div">
		<form method="post">
			<h1 style="font-size:24px;">Đăng xuất tài khoản</h1>
			<h2 style="font-size:16px;">Bạn có chắc chắn đăng xuất?</h2>
			<br>
			<label>
				Tên người dùng<br>
				<input value="@HttpContext.Session.GetString("username")" readonly="">
			</label> <br> <br>
			<input type="submit" value="Đăng xuất">
			<a href="#" onclick="history.go(-1)">Quay lại</a>
		</form>
	</div>
}